/* default styles */
* { box-sizing: border-box;}

input {
    padding: 5px 5px;
    font-size: 15px;
    border: 1px solid black;
    color: black;
}

input {
    min-width: 250px;
    height: 30px;
}
:host {
    display: block;
    width: 300px;
}
/* end of default styles */




