/* default styles */
* { box-sizing: border-box;}

input {
    padding: 5px 5px;
    font-size: 12px;
    border: 1px solid black;
    color: black;
    min-width: 250px;
}

textarea {
    padding: 5px 5px;
    font-size: 12px;
    border: 1px solid black;
    color: black;
    min-width: 250px;
}
:host {
    display: block;
    width: 300px;
}
/* end of default styles */




